@media (max-width: 1204px) {
    .news_cards {
        flex-direction: column;
    }
    .news_card-img {
        height: 480px;
    }

    .menu_left-column {
        width: 100%;
    }

    .menu_right-column {
        width: 100%;
    }

    .header {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100vw;
        height: 100vh;
        padding: 48px;
        background-color: #111111de;

        

        &_nav {
            display: flex;
            gap: 48px;
            flex-direction: column;
            margin-top: 120px;
            margin-left: 80px;
        }
        &_nav-link {
            font-size: 24px;
        }
    }

    body {
        overflow-y: hidden;
    }

}